#mae{
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 750px;
	margin-left: 120px;
	margin-right: 120px;

	/*background-color: ;*/
}


#topo{
	border-radius: 100%;
	margin: 0;
	padding: 2em;
	background-color: #1FB841;
	width: 340px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;

}


#corpo1{
	width: 500px;
	height: 500px;
	background-color: #101b21;
	float: left;
	margin:5px;
	padding: 5px;

}


#corpo2{
	width: 500px;
	height: 500px;
	background-color: #1FB841;
	float: right;
	margin: 5px;
	padding: 5px;
	margin-top: -515px;
	margin-right: -30px;

}


#texto_conteudo{
	margin-top: 600px;
	font-family: Arial, Helvetica, sans-serif;
	width: 700px;
	height: 700px;
	text-align: center;
	
}


#nomePalestrante{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}


#titulo{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}


#conteudo2{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

}

#rodape{
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 30px;
	background-color: #1FB841;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-radius: 4px;

}


#rodape1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#fim{
	margin: 0;
	padding: 0;
	width: 1000px;
	height:30px;
	background-color: #1FB841;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

}
